h1{
  font-style: 'San Francisco';
  font-size: 32px;
  font-weight: 500;
  color: white;
  text-align: center;
}

p{
  font-style: 'San Francisco';
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-align: center;
}

topbody{
  background-color: black;
  background-image: linear-grediant(black, #1c1c1c);
  background-repeat: no-repeat;
  padding: 2rems;
}
